// animation
@import "animation"

// color
@import "color"

.wrapper {
    text-align center
    overflow hidden
}

.title {
    font-family Minecraftia
    font-size 5.5em
}

#res {
    font-family Minecraftia
    font-size 2em
}

#hitokoto {
    font-family 'MicroSoft YaHei'
    position absolute
    bottom 10px
    right 10px
}

*[no-select]
    -webkit-user-select none

*[drag]
    -webkit-app-region drag

*[no-drag]
    -webkit-app-region no-drag